{# templates/home/flow.html.twig #}


{% block body %}
 	<!-- #flow steps -->
    <div id="flow" class="bg-blue hidden-xs hidden-sm" >
        <!-- .container -->
    	<div class="container">
            <!-- .row -->
            <div style="margin-left: -80px" class="row">
            	{% if requestType.stages is defined and requestType.stages is not empty %}
            	<div style="margin-left: -50px" class="col-md-12 text-center flow">
                    <ul>
                        {% for stage in requestType.stages %}
                        <li style="margin-top: -15px; margin-right: 15px;" class="animation {% if stage.completed  is defined and stage.completed is not empty and stage.completed == true %}completed{% endif %}" data-animation="animation-bounce-in" data-delay="{{ loop.index*200 }}">
                        	<a href="{{ stage.slug }}">
                        		<i {% if stage.slug == slug %} style="border: 4px solid white; background: #2A5587; color: white" {% endif %} class="{{ stage.icon }} fa-3x "></i>
                            <br/>
                                {% if stage.name == 'type' %}
                                <p style="color: white;">CEREMONIE</p>
                                {% elseif stage.name == 'partners' %}
                                <p style="color: white;">PARTNER</p>
                                {% elseif stage.name == 'reserveren' %}
                                <p style="color: white;">CHECKLIST</p>
                                {% elseif stage.name == 'extras' %}
                                <p style="color: white;">EXTRA'S</p>
                                {% else %}
                                <p style="color: white;">{{ stage.name|capitalize }}</p>
                                {% endif %}
                            </a>
    					</li>
    					{% endfor %}
                    </ul>
                </div><!-- .col end -->
                {% elseif (user is not defined or (user is defined and user is empty)) %}
            	<div class="col-md-12 text-center">
                    	<a href="https://digispoof.zaakonline.nl?responceUrl={{ absolute_url(path('app_default_slug',{'slug':'requests'})) }}" class="btn btn-login btn-lg"><span class="fas fa-sign-in-alt"></span> Log hier in om te beginnen</a>
                </div><!-- .col end -->
                {% else %}
            	<div class="col-md-12 text-center">
                    	<a href="{{ path('app_default_slug',{'slug':'requests'}) }}" class="btn btn-login btn-lg"><span class="fas fa-sign-in-alt"></span> Mijn verzoeken</a>
                </div><!-- .col end -->
                {% endif %}
            </div><!-- .row end -->
        </div><!-- .container end -->
    </div><!-- .bg-blue end -->
{% endblock %}
