{# templates/home/flow.html.twig #}


{% block body %}   
 	<!-- #flow steps -->
    <div id="flow" class="bg-blue hidden-xs hidden-sm" >        
        <!-- .container -->
    	<div class="container">            
            <!-- .row -->
            <div class="row">
            	{% if requestType.stages is defined and requestType.stages is not empty %}
            	<div class="col-md-12 text-center flow"> 
                    <ul>
                    
                        {% for stage in requestType.stages  %}  
                        <li class="animation {% if stage.completed  is defined and stage.completed is not empty %}completed{% endif %}" data-animation="animation-bounce-in" data-delay="{{ loop.index*200 }}">                    
                        	<a href="{{ stage.slug }}">
                        		<i class="{{ stage.icon }} fa-3x "></i>
                            <br/>{{ stage.name|capitalize }}
                            </a>
    					</li>                        
                        {% endfor %} 
    					</li>
                    </ul>          
                </div><!-- .col end -->  
                {% elseif (user is not defined or (user is defined and user is empty)) %} 
            	<div class="col-md-12 text-center">     
                    	<a href="https://digispoof.zaakonline.nl?responceUrl={{ absolute_url(path('app_default_login'))}}" class="btn btn-login btn-lg"><span class="fas fa-sign-in-alt"></span> Log hier in om te beginnen</a>
                </div><!-- .col end -->  
                {% endif %}                   
            </div><!-- .row end -->                  
        </div><!-- .container end -->                
    </div><!-- .bg-blue end -->   
{% endblock %}
